@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('./assets/Boska-Black.otf');

/* Font Preconnect */
@font-face {
    font-family: 'Boska-Black';
    src: url('./assets/Boska-Black.otf') format('opentype');
}

/* Root Variables */
:root {
    --primary-bg-color: #24252a;
    --secondary-bg-color: #1b1c1f;
    --highlight-color: #0088a9;
    --text-color: #edf0f1;
    --dark-text-color: #333;
    --light-text-color: #555;
}

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Base styling for body */
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* Headings */
h1 {
    font-weight: bolder;
    text-align: left;
    margin: 10px 0 20px;
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

/* Links and Buttons */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}

a:focus, button:focus {
    outline: 2px solid var(--highlight-color);
}

/* Header styling */
header {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
    z-index: 1000;
}

header .logo {
    font-family: "Cookie", cursive;
    font-size: 40px;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--highlight-color);
}

header .HireMe button {
    background-color: var(--highlight-color);
    border: none;
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header .HireMe button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1001;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 3px;
}

/* Overlay Menu Styles */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    z-index: 1000;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-content a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: var(--text-color);
    display: block;
    transition: color 0.3s ease;
}

.overlay-content a:hover {
    color: var(--highlight-color);
}

/* Show overlay */
.overlay.show {
    transform: translateX(0);
}

/* Main Template */
#mainTemplate {
    text-align: left;
    background-color: var(--primary-bg-color);
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

#mainTemplate .container {
    margin-left: 10%;
    width: auto;
}

#mainTemplate h1 {
    font-size: 50px;
    color: var(--text-color);
    transition: color 0.2s linear;
}

#mainTemplate h3 {
    font-size: 24px;
    color: var(--text-color);
}

.name {
    color: var(--highlight-color);
    display: inline;
}

/* Main section styling */
main {
    padding: 20px;
    background-color: var(--primary-bg-color);
}

/* Styling for the container */
.container {
    margin: 0 auto;
    width: 80%;
    padding: 0 15px;
}

/* Section styling */
section {
    margin: 40px 0;
}

/* About Me section styling */
#about {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

#about h2 {
    background-color: var(--highlight-color);
    border-radius: 10px;
    font-family: "Boska-Black";
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

#about .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
}

#about .about-content img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-right: 20px;
    border: 5px solid var(--highlight-color);
}

#about .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

#about .about-text p {
    color: var(--text-color);
    margin-bottom: 20px;
}

#about .about-text a button {
    background-color: var(--highlight-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

#about .about-text a button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Skills Section Styling */
#skills {
    background: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#skills .container {
    text-align: center;
}

#skills h2 {
    background-color: var(--highlight-color);
    border-radius: 10px;
    font-family: "Boska-Black";
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-content {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--highlight-color);
}

.skill {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.skill-image {
    height: 50px;
    transition: transform 0.3s ease;
}

.skill-image:hover {
    transform: scale(1.1);
}

/* Experience section */
#experience {
    background: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#experience h2 {
    background-color: var(--highlight-color);
    border-radius: 10px;
    font-family: "Boska-Black";
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.experience-content {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.experience-content h3 {
    margin-bottom: 5px;
}

.experience-content h4 {
    margin-bottom: 10px;
    color: #666;
}

.experience-content ul {
    list-style: disc;
    margin-left: 20px;
}

.experience-content button {
    background-color: var(--highlight-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.experience-content button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Projects section */
#projects {
    margin: 20px 0;
    padding: 20px;
    background-color: #1b1c1f;
    border-radius: 10px;
}

#projects h2 {
    background-color: var(--highlight-color);
    border-radius: 10px;
    font-family: "Boska-Black";
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.project-thumbnail {
    width: 100%;
    height: auto;
    border-bottom: 3px solid var(--highlight-color);
}

.project-info {
    margin-top: 10px;
}

.project-info h3 {
    margin-bottom: 10px;
    color: #fff;
}

.project-info p {
    text-align: justify;
    font-size: 15px;
    margin-bottom: 15px;
    color: #ccc;
}

.project-info button {
    background-color: var(--highlight-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.project-info button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Connect With Me section */
#connect {
    margin: 20px 0;
    padding: 20px;
    background-color: #1b1c1f;
    border-radius: 10px;
}

#connect h2 {
    background-color: var(--highlight-color);
    border-radius: 10px;
    font-family: "Boska-Black";
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.connect-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.connect-form {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
}

.connect-form .form-group {
    margin-bottom: 15px;
}

.connect-form label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.connect-form input,
.connect-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #444;
    color: #fff;
}

.connect-form button {
    background-color: var(--highlight-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.connect-form button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.connect-links {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.social-icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.social-icons a img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.1);
}

.social-icons a span {
    margin-top: 10px;
    font-size: 16px;
}

/* Footer styling */
footer {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

/* Resposive Design */
@media (max-width: 768px) {
    .nav_links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .HireMe {
        display: none;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    #mainTemplate .container {
        margin: 0;
        padding: 20px;
    }

    #mainTemplate h1 {
        font-size: 40px;
    }

    #mainTemplate h3 {
        font-size: 20px;
    }

    /* About section adjustments */
    #about .about-content {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #about .about-content img {
        width: 100%;
        max-width: 350px;
        border: 5px solid var(--highlight-color);
        margin-right: 0;
    }

    #about .about-text {
        text-align: justify;
    }

    /* Skills section adjustments */
    #skills .skills-grid {
        grid-template-columns: 1fr;
    }

    #skills .skill {
        flex: 1 1 100%;
        justify-content: center;
    }

    /* Experience section adjustments */
    #experience .experience-content {
        margin-top: 20px;
    }

    /* Projects section adjustments */
    #projects .projects-grid {
        grid-template-columns: 1fr;
    }

    .project {
        padding: 15px;
    }

    /* Connect section adjustments */
    #connect .connect-grid {
        grid-template-columns: 1fr;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: nowrap;
    }

    .social-icons a img {
        width: 40px;
        height: 40px;
    }

    /* Reduce heading sizes */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }
}