@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: "AktivGrotesk", "stabil_grotesk", sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-color: #f9f9f9;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    text-align: left;
}

p {
    margin-bottom: 15px;
}

/* Color Palette */
:root {
    --primary-color: #ef233c; /* Red */
    --secondary-color: #118ab2; /* Blue */
    --background-color: #f9f9f9; /* Light gray */
    --text-color: #333; /* Dark gray */
}

/* Header */
header {
    background-color: transparent;
    padding: 0px 0;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    border-radius: 10%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#logo {
    padding: 10px;
    font-family: 'Cookie', cursive;
    text-decoration: none;
    color: var(--text-color);
}

#head {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s linear;
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* Main Template */
#mainTemplate {
    text-align: center;
    background-color: var(--background-color);
    padding: 60px 0;
    margin-bottom: 10px;
}

#mainTemplate img {
    height: 150px;
    border-radius: 50%;
    width: auto;
}

#mainTemplate h1 {
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-color);
    transition: color 0.2s linear;
}

#mainTemplate h1:hover {
    color: var(--text-color);
}

#mainTemplate h3 {
    font-size: 12px;
}

#mainTemplate div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Content */
main {
    padding: 20px;
}

/* About Section */
#about {
    background-color: var(--background-color);
    padding: 60px 0;
    margin-bottom: 10px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.about-text {
    flex: 2;
    margin-right: 40px;
    text-align: justify;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.about-text a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: .2s linear all;
}

.about-text a:hover {
    text-decoration: underline;
}

/* Education Section */
#education {
    background-color: var(--background-color);
    padding: 60px 0;
    margin-bottom: 10px;
}

#education ul {
    list-style-type: none;
}

/* Skills Section */
#skills {
    background-color: var(--background-color);
    padding: 60px 0;
    margin-bottom: 10px;
}

.skill-category {
    display: inline-block;
    margin-right: 20px;
}

/* Projects Section */
#projects {
    background-color: var(--background-color);
    padding: 60px 0;
    margin-bottom: 10px;
}

.project {
    margin-bottom: 40px;
}

.project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

.project-text {
    flex: 1;
    margin-right: 40px;
}

.project-image {
    flex: 1;
    text-align: center;
}

.project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Connect Section */
#connect {
    background-color: var(--background-color);
    padding: 60px 0;
    text-align: center;
    margin-bottom: 10px;
}

.social-links {
    display: inline-block;
    margin: 0 20px; 
}

.social-links img {
    height: 50px;
    width: auto;
}

/* Queries Section */
#queries {
    background-color: var(--background-color);
    padding: 60px 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

input[type="submit"]:hover {
    background-color: #d90429;
}

/* Footer */
footer {
    background-color: var(--text-color);
    color: white;
    padding: 5px 0;
    text-align: center;
}
